body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all .5s;
}
#menuIcon{
    display: none;
}
.startmenu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
.title{
    margin-top:0;
    color:black;
    text-align: left;
    font-size: 2.5em;
    width: 25%;
    font-family: 'Bangers', cursive;
    display: block;
    float:left;
}
h2{
    font-family: 'Bangers', cursive;
    font-size: calc(1em + 3vw);
    text-align: center;
    margin: 0;
}
.menucolor{
    padding:15px 30px;
    height: 50px;
    background-color: #b5dda9;
}
.startmenu{
    float: right;
    width: 75%;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin-top: 10px;
    text-transform: uppercase;
}
 .startmenu a{
     text-decoration: none;
     color: black;
     margin-right: 20px;
     
    }
 .startcontainer{
     height: 90vh;
     padding-top: 5vh;
     background-color: #f3fcff;
     transition: all .5s;
     margin-bottom: 7vh;
 }
 .image{
     height: 33.33%;
     background: url("./images/pokebolaturned.gif") no-repeat center;
     background-size: contain;
 }
 .starttext{
     height: 25vh;
     margin-top: 5vh;
 }
 .containerbuttons{
     height: 40vh;
 }
.menu {
     float: right;
    background-color: #b5dda9;
    width: 100%;
    text-align: right;
    padding: 30px;

}
.menu select{
    margin-right: 30px;
    padding: 10px; 
    margin-left: auto;
    
}
.screen-two{
    min-height: 100vh;
    width: 100%;
}
.pokemonlist{
    width: 80%;
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2em;
    padding: 0 10%;
    margin-top: 3em;
}


  
  footer{
    display: block;
    float: left;
    margin-top: auto;
    background-color: #ffeb3b;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    
  }

  .buttonfilter{
    font-family: 'Bangers', cursive;
    font-size: calc(1.2em + 1vw);;
    padding: .5em 1.5em;
    color:white;
    cursor: pointer;
    border: none;
    transform: rotate(10deg);
    margin-left: 2em;

  }
  .insect-button{
    background-color: rgba(212, 93, 56, 0.932);
    transform: rotate(10deg);
}
.plant-button{
    background-color: rgb(80, 211, 80);
    transform: rotate(-10deg);
}
.water-button{
  background-color: rgb(100, 100, 207);
  transform: rotate(10deg);
  
}
.fire-button{
  background-color: rgb(245, 58, 58);
  transform: rotate(-10deg);
 
}
.psychic-button{
  background-color: gray ;
  transform: rotate(10deg);
}
.all-button{
    background-color: rgb(238, 235, 44);
    transform: rotate(0deg);
    float:right;
    margin-top: 30px;
}
/*Estilos cards*/
.card{
    border:1px solid #b5dda9;
    padding: 1em;
    background-color:  #b5dda9;
    text-align: center;
}
.name{
    background-color: #b5dda9;
    color: black;
    text-align: center;
    padding: .5em;
    font-family: 'Bangers', cursive;
    font-size: 2em;
}
.footer-card{
    border-top: 1px dotted #000;
    padding: 20px 0;
}
.generation{
    padding: .5em;
    border-radius: 10px;
    background-color: gold;
    text-transform: uppercase;
}
/*Inicia Responsive*/
@media all
and (max-width: 1080px){
    .image{
        height: 28vh;
    }
    .buttonfilter{
        font-size: calc(1.5em + 3vw);
        margin-left: 0;
        margin-right: 2vh;
        margin-top: 2vh;
    }
    h2{
        font-size: calc(1em + 4vw);
    }
    .containerbuttons{
        padding-left: 5vh;
        padding-right: 0;
        position: absolute;
    }
    .all-button{
        position: relative;
        right: 0;
        margin-right: 0;
    }
    .buttonfilter:nth-child(2n){
        margin-right: 0;
        margin-left: 10vw;
    }
    .starttext{
        height: 11vh;
    }
   /*menu responsive*/ 
    .startmenu a{
        display: none;
        text-align: center;
        padding: 2vh 0;
        margin-right: 0;
    }
    .startmenu a:hover{
        background-color: #94b989;
    }
  #menuIcon {
    float: right;
    display: block;
    margin-right: 0;
    padding: 30px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
  }
  .startmenu{
      text-align: center;
  }
  .startmenu.responsive {
      width: 100%;
      background-color: #b5dda9;
      position: absolute;
      right: 0;
      top: 70px;
      z-index: 99;
    }
 
  #menuIcon:hover{
    background-color: #fff;
    
  }
  .startmenu.responsive a {
    float: none;
    display: block;
    border-bottom: 1px dashed #fff;
  }
  .screen-two{
    font-size: calc(2em + 1vw);
    padding: 1em, 2em;
}
.menu {
    background-color: #94b989;
    padding: 15px 30px;
    font-size: calc (3em + 4vw); 
    width: 75%;
    float: right;
  }
  .pokemonlist{
    border: 1px solid #463274;
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: center; 
    margin-left: 2em;
    margin-right: 2em;
  
    }
    .cards.responsive{   
        border:1px solid #b5dda9;
        padding: calc (1em);
        background-color:  #b5dda9;
        text-align: center;
    }
    .name{
        background-color: #b5dda9;
        color: black;
        text-align: center;
        padding: calc(.25);
        font-family: 'Bangers', cursive;
        font-size: 1em;
    }
    .footer-card{
        border-top: 1px dotted #000;
        padding: calc (10px 0);
    }
    .generation{
        padding: .25em;
        border-radius: 10px;
        background-color: gold;
        text-transform: uppercase;
    }

    }  
  @media all
  and (max-width: 1080px) and (orientation: landscape) {
  h2{
      font-size: calc(2em + 1vw);
  }
  .buttonfilter:nth-child(2n){
      margin-left: 2vh;
  }
  .buttonfilter{
    font-size: calc(1em + 1vw);
    margin-left: 2vw;
    margin-top: 10vh;
  }

}
